<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: head}" />

<body>
	<header th:replace="~{fragmentos :: header}" />
	<div class="container">
		<form method="post" action="/usuario" th:object="${usuario}">
			<div class="mb-3">
				<label for="nome" class="form-label">Nome</label>
				<input type="text" class="form-control" th:field="*{nome}" />
			</div>

			<div class="mb-3">
				<label for="sobrenome" class="form-label">Sobrenome</label>
				<input type="text" class="form-control" th:field="*{sobrenome}" />
			</div>

			<div class="mb-3">
				<label for="email" class="form-label">Email</label>
				<input type="email" class="form-control" th:field="*{email}" />
			</div>

			<div class="mb-3">
				<label for="estado" class="form-label">Estado</label>
				<input type="text" class="form-control" th:field="*{estado}" />
			</div>

			<div class="mb-3">
				<label for="sexo" class="form-label">sexo</label>
				<input type="text" class="form-control" th:field="*{sexo}" />
			</div>

			<div class="mb-3">
				<label for="whatsapp" class="form-label">whatsapp</label>
				<input type="text" class="form-control" th:field="*{whatsapp}" />
			</div>

			<div class="mb-3">
				<label for="cidade" class="form-label">cidade</label>
				<input type="text" class="form-control" th:field="*{cidade}" />
			</div>

			<div class="mb-3">
				<label for="dtnascimento" class="form-label">dtnascimento</label>
				<input type="date" class="form-control" th:field="*{dtnascimento}" />
			</div>

			<div class="mb-3">
				<label for="profissao" class="form-label">profissao</label>
				<input type="text" class="form-control" th:field="*{profissao}" />
			</div>

			<div class="mb-3">
				<label for="escolaridade" class="form-label">escolaridade</label>
				<input type="text" class="form-control" th:field="*{escolaridade}" />
			</div>

			<div class="mb-3">
				<label for="interesse" class="form-label">interesse</label>
				<input type="text" class="form-control" th:field="*{interesse}" />
			</div>

			<div class="mb-3" role="group">
				<button type="button" class="btn btn-primary" onclick="window.history.back()">Voltar</button>
				<button type="submit" class="btn btn-primary">Salvar</button>
			</div>
		</form>
	</div>
</body>

</html>